@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
}
h2 {
  border-bottom: 2px solid black;
}
h3 {
  color: #3d3d3d;
  font-size: 1.2rem;
  margin-top: 20px;
}
h1, #contato {
  color: #3d3d3d;
  background-color: #e1edf2;
  padding: 10px;
  border-bottom: none;
}
figure {
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  color: lightgrey;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 30px;
  max-width: 100%;
}
figure figcaption {
  text-align: center;
  width: 100%;
  color: #3d3d3d;
}
img {
  margin: 10px;
}
#figuramatriz {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 550px;
}
#figuramatriz img {
  width: 100%;
}

#figurafamilia {
  width: 275px;
  flex: 0 0 275px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: right;
  padding: 15px; 
  margin: 0;
}
#figurafamilia img {
  width: 100%;
}
.container-familia {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
}
.textofamilia{
  display: flex;
  flex-direction: column;  
  text-align: start;
}
#contato p {
  margin: 3px 0;
}
#contato address {
  margin-bottom: 20px;
}
.pe {
  font-style: italic;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;;
    text-align: center;

}

.formgrupo {
    display: flex;
    align-items: center;
    gap: 20px;;
    cursor: pointer;
    padding: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 500px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
}

input[type="tel"]{
  gap: 30px;

}

#textarea {
    width: 500px;
    height: 300px;
    display: flex;
    display: flexbox;
    left: 100px;
}
button {
   width: 100px;
   height: 50px;
   cursor: pointer;
   background-color: white;
   border: 2px, solid, black;
   font-weight: bold;
}
